* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    background-image: url(https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148881320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px ;
    text-align: center;
    border:2px solid rgb(245, 231, 206);
    border-radius: 20px;
    overflow:auto ;
    margin:45px auto;
    max-width:500px;
    }

.head{
    color:blueviolet;
    font-family: cursive;
    font-size: 3rem;
}
.formdesign{
    font-size: 20px;
}
.formdesign input, textarea{
    width: 100%;
    max-width:400px;
     margin: 10px auto; 
    padding: 10px; 
    border: 2px solid violet;
    border-radius:20px ;
    font-size: 15px;
}
.formerror{
    color:red;
    font-size: 15px;
}
.btn{
    height: 50px;
    width:150px;
    border-radius: 10px;
    font-size: 20px;
   border: 2px solid violet;
   color:blueviolet;
}

@media screen and (max-width: 480px) {
    body {
        padding-bottom: 40px; 
        margin-top: 25px;
        border-radius: 10px;
    }

    .formdesign input,
    .formdesign textarea {
    width: 100%; 
    max-width: 200px; 
    margin: 5px auto;
    padding: 5px;
    border: 2px solid violet;
    border-radius: 20px;
    font-size: 14px;
}

    .btn {
        height: 40px;
        width: 120px; 
        font-size: 18px; 
    }
}
